.gloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 328px;
}
.gloader img {
    height: 100%;
    display: block;
}

.gtitulo {
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: -webkit-linear-gradient(top, #009688 0%, #028276 50%, #097167 51%, #038679 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
}

.gparrafo {
    display: flex;
    justify-content: center;
    align-items: normal;
    color: #3a3a3a;
}

.gparrafo img{
    display: block;
    width: 100%;
}
.gfecha {
    font-size: 12px;
    text-align: center;
}

.gerror {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #900000;
}

.ginfo {
    background-color: #f0f5ff;
}

.gboton {
    padding: 0 !important;
}

.gboton button {
    border-radius: 0;
    background-color: #b9d0ff;
    text-transform: uppercase;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}