.thumbnail-overlay {
	margin:5% 0 5% 20%;
    background: rgba(0,171,150,0.9);
}

.imgd {
	
	padding:7% 5% 5% 3%;
	width: 100%;
	height:100%;
}

.des {
	background-color: rgba(255, 255, 255, 0.4);
background: rgba(255, 255, 255, 0.4);
	margin: 0 2% 0 2%;
}