@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', 'sans-serif';
}

.container{
    width: 100%;
}

.bg-green{
    background-color: #009688;
    color:#ffffff;
}

#footer{
    width:100%;
    background-color:#212121;
    color:#ffffff;
    text-align: center;
    padding: 15px;
}

#copy{
    text-align: left;
}

hr{
    width: 100%;
    border: 0 ; 
    border-top: 2px solid #616161;
    width: 90%;
}

.acreditaciones{
    widht:100%;
    background-color: #ffffff;
    text-align: center;
    padding:20px;
}

.acreditaciones h2{
    font-size: 28px;
}

.acreditaciones img{
    width:80%;
}

.separador{
    background-color: #ffffff;
    width: 100%;
    height: 500px;
}

.myclass{
    width: 100% ;
    height: 180px;
    border: border-box; 
}