﻿<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styledocentes.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/cs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script src="js/Empresas.js"></script>
    <script src="js/docentes.js"></script>
    <script src="js/Aspirante.js"></script>


    <title>UT Cancún | Universidad Tecnológica de Cancún</title>
</head>

<body>
    <script>
        $(document).ready(function () {
            LoadEnterprisesData();
            LoadAspirante();
        });
    </script>
    <div class="menu bg-green">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-green">
                <img src="img/logo_ut.png" class="navbar-brand">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="Index.html">
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Aspirantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Docentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Egresados</a>
                        </li>
                        <li class="nav-item">
                            <a id="EnterprisesHref" class="nav-link" href="#">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sistema Escolar</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card-group">
                <div class="card" ng-app="app" ng-controller="homeController" ng-cloak>
                    <div ng-hide="data">
                        <div class="row ">
                            <div class="col-sm-12 gloader">
                                <img src="img/loader.gif" alt="Cargando...">
                            </div>
                        </div>
                    </div>
                    <img class="myclass" src="img/{{data.img}}" alt='ut'>
                    <div class="card-body" ng-show="data">
                        <h5 class="card-title">{{data.titulo}}</h5>
                        <p class="card-text">{{data.descripcion}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://ingino.000webhostapp.com/img/docentes.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Docentes</h5>
                        <p class="card-text">Encuentra todo lo que necesites para ser parte de la UT Cancún.</p>
                        <button type="button" onclick="Conection()" class="btn btn-default btn-block">Iniciar sesión</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This
                            card has even longer content than the first to show that equal height action.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
              


            </div>
            <div class="card-group">

                <!--Empresas-->
                <div class="card">
                    <img id="Image" class="card-img-top" src="..." alt="Empresas">
                    <div class="card-body">
                        <h5 id="Title" class="card-title"></h5>
                        <p id="Description" class="card-text"></p>
                        <div class="text-center">
                            <a id="EnterprisesHrefLink" class="btn btn-outline-success" href="#" role="button">Página principal</a>
                        </div>

                    </div>
                    <div class="card-footer">
                        <small id="Footer" class="text-muted"></small>
                    </div>
                </div>
                <!--Empresas-->

                <!--Aspirantes-->

                <div class="card">
                    <img id="ImageAspirante" class="card-img-top" src="..." alt="Aspirantes">
                    <div class="card-body">
                        <h5 id="TitleAsp" class="card-title"></h5>
                        <p id="DescriptionAsp" class="card-text"></p>
                        <table id="Asp" class="table invisible">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido P.</th>
                                    <th>Apellido M.</th>

                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <div id="ASPLINK"class="text-center">
                        </div>
                    </div>
                    <div class="card-footer">
                        <small id="FooterAsp" class="text-muted"></small>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <!-- ¡Aquí pueden poner su contenido !-->
    <div class="container-fluid">
        <!-- ============================================================================================== -->
        <!-- ==============================    EQUIPO PAQUESITO     ==================================== -->
        <!-- ============================================================================================== -->
        <div ng-app="app" ng-controller="homeController" ng-cloak>
            <div ng-hide="data">
                <div class="row ">
                    <div class="col-sm-12 gloader">
                        <img src="img/loader.gif" alt="Cargando...">
                    </div>
                </div>

                git config --global user.email "salvadorinc1529@gmail.com" git config --global user.name "@salvadorinc1529"

            </div>
            <div class="fadeInUp " ng-hide="">
                <div class="row gtitulo" ng-show="data">
                    <div class="col-sm-12 bg-primary gtitulo">
                        {{data.titulo}}
                    </div>
                </div>
                <div class="row gparrafo" ng-show="data">
                    <div class="col-sm-4">
                        <img src="img/{{data.img}}" alt='ut'>
                    </div>
                    <div class="col-sm-8 ginfo">
                        {{data.descripcion}}
                    </div>
                </div>
                <div class="row gfecha" ng-show="data">
                    <div class="col-sm-6">
                        Base de datos : {{error.status}} - {{error.statusText}}
                    </div>
                    <div class="col-sm-6" ng-show="data">
                        <button class="btn btn-primary btn btn-block" ng-disabled="!data.activo" ng-click="initEdit()" type="button">Conectarse</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================================================== -->
        <!-- ==============================    FIN EQUIPO PAQUESITO     ==================================== -->
        <!-- ============================================================================================== -->
        <!-- ============================================================================================== -->
        <!-- ==============================    EQUIPO XILSE     ==================================== -->
        <!-- ============================================================================================== -->
        <div class="container-fluid">
            <div class="col-md-6 row thumbnail-overlay">
                <div class="des row ">
                    <div class="col-lg-6">
                        <img src="https://ingino.000webhostapp.com/img/docentes.jpg" class="imgd" />
                    </div>
                    <div class="col-lg-6" style="padding:8%;">
                        <p>Encuentra todo lo que necesites para ser parte de la ut canún </p>
                        <button type="button" onclick="Conection()" class="btn btn-default btn-block">Iniciar sesión</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================================================== -->
        <!-- ==============================    FIN EQUIPO XILSE     ==================================== -->
        <!-- ============================================================================================== -->
        <!-- ============================================================================================== -->
        <!-- ==============================    EQUIPO Egresados     ==================================== -->
        <!-- ============================================================================================== -->
        <div class="row">
            <div class="col-md-11">
                <iframe src="http://192.168.100.52:8080/" style="width:1000px; height:140px;" frameborder="0" scrolling="no" align="right">
                    try it
                </iframe>
            </div>
        </div>
        <!-- ============================================================================================== -->
        <!-- ==============================    FIN EQUIPO Egresados     ==================================== -->
        <!-- ============================================================================================== -->
        <div class="acreditaciones">
            <div class="container">
                <h2>Nuestras Acreditaciones</h2>
                <img src="img/Acreditaciones.png">
            </div>
        </div>
        <div id="footer">
            <hr />
            <div class="container">
                <p>
                    Universidad Tecnológica de Cancún
                    <br> Organismo Público Descentralizado del Gobierno del Estado de Quintana Roo
                    <br> Carretera Cancún-Aeropuerto, Km. 11.5, S.M. 299, Mz. 5, Lt 1
                    <br> Cancún, Quintana Roo, C.P. 77565
                    <br> Tel. 01 (998) 881 19 00
                    <br> Política de Privacidad
                </p>
                <br>
            </div>
            <hr />
            <p id="copy" class="container">Copyright © 2017. Universidad Tecnológica de Cancún</p>
        </div>
</body>

</html>